/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-better-blocks-cards {

	.card-deck {
		display: block;

		.block-editor-block-list__layout {
			display: flex;

			.wp-block-better-blocks-card {
				flex-basis: 100%;
			}
		}

		&-2 {

			.block-editor-block-list__layout .wp-block-better-blocks-card {

				@media (min-width: 968px) {
					flex-basis: calc(50% - 8px);
				}
			}
		}

		&-3 {

			.block-editor-block-list__layout .wp-block-better-blocks-card {

				@media (min-width: 968px) {
					flex-basis: calc(33% - 9px);
				}
			}
		}

		&-4 {

			.block-editor-block-list__layout .wp-block-better-blocks-card {

				@media (min-width: 968px) {
					flex-basis: calc(25% - 12px);
				}
			}
		}
	}
}
