/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-better-blocks-cards {
	box-sizing: border-box;

	.card-deck {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		> .wp-block-better-blocks-card {
			flex-basis: 100%;
		}

		&-2 > .wp-block-better-blocks-card {
			@media (min-width: 968px) {
				flex-basis: calc( 50% - 8px );
			}
		}

		&-3 > .wp-block-better-blocks-card {
			@media (min-width: 968px) {
				flex-basis: calc( 33% - 9px );
			}
		}

		&-4 > .wp-block-better-blocks-card {
			@media (min-width: 968px) {
				flex-basis: calc( 25% - 12px );
			}
		}

	}
}
