/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-better-blocks-counter {
	
    .counter {
        border: 1px solid var(--wp--preset--color--primary);
        border-radius: 0.25rem;
        padding: 1rem;
        text-align: center;
    }

    .counter-number {
        display: flex;
        justify-content: center;
        gap: 8px;
    }
}
