/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-better-blocks-progress {

	wrapper {
		align-items: center;
		display: flex;
		width: 100%;
	}

	label {
		flex-basis: 100px;

		.wp-block-better-blocks-progress__title {
			&:after {
				content: ':';
			}
		}

		.wp-block-better-blocks-progress__value {
			display: none;
		}
	}

	progress {
		appearance: none;
		border-radius: 7px;
		box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
		display: block;
		flex-basis: calc( 100% - 100px );
		height: 1rem;
		margin-left: 1rem;
		width: calc( 100% - 100px );

		&::-moz-progress-bar {
			background-color: var(--wp--preset--color--base);
		}
		&::-webkit-progress-bar {
			background-color: var(--wp--preset--color--base);
		  }
		&::-webkit-progress-value {
			background-color: var(--wp--preset--color--primary);
			transition: width 1s;
		}

	}

	&.is-style-circle {
		--background: white;
		--color: greenyellow;
		--size: 100px;
		--thickness: 10px;
		--track-color: white;

		display: flex;
		justify-content: center;
		width: 100%;

		wrapper {
			position: relative;
			width: var(--size);
		}

		label {
			left: 50%;
			position: absolute;
			text-align: center;
			top: 50%;
			transform: translate(-50%, -50%);
			z-index: 9;

			.wp-block-better-blocks-progress__title {
				&:after {
					content: '';
				}
			}

			.wp-block-better-blocks-progress__value {
				display: block;
			}
		}

		progress {
			align-items: center;
			border-radius: 50%;
			box-shadow: none;
			display: flex;
			flex-basis: var(--size, 100px);
			height: var(--size, 100px);
			justify-content: center;
			overflow: hidden;
			position: relative;
			margin-left: 0;
			width: var(--size, 100px);

			&::-webkit-progress-value {
				background: transparent;
			}
			&::-moz-progress-bar {
				background: transparent;
			}
			&:before {
				align-items: center;
				background-color: var(--background);
				border-radius: 50%;
				color: black;
				content: '';
				display: flex;
				height: calc(var(--size, 100px) - var(--thickness, 10px) * 2);
				justify-content: center;
				margin: auto;
				position: absolute;
				width: calc(var(--size, 100px) - var(--thickness, 10px) * 2);
			}

			@for $percent from 0 through 99 {
				&[value="#{$percent}"]::-webkit-progress-bar {
					background: conic-gradient(
						var(--wp--preset--color--primary) 0% #{$percent}#{"%"},
						var(--track-color) #{$percent}#{"%"} 100%
					);
				}
			}
			&[value="100"]::-webkit-progress-bar {
				background: var(--wp--preset--color--primary);
			}
		}

	}
}
