/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-better-blocks-pricing {
	border: 1px solid var(--wp--preset--color--secondary);
	padding: 1rem;

	&[data-featured="true"] {
		background: var(--wp--preset--color--secondary);
		color: var(--wp--preset--color--white);
		margin-block-start: -2rem !important;
	}

	.wp-block-heading {
		margin-block-start: 0;
	}
}
