/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-better-blocks-card {
	border: 1px solid #eee;
	box-sizing: border-box;

	.card-body {
		padding: 1rem;
	}

	.card-heading {
		margin-top: 0;
	}

	.card-image {
		height: auto;
		max-width: 100%;
	}
}
