/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .wp-block-better-blocks-card {
	--card-border-color: var(--wp--preset--color--secondary);
	--card-border-radius: 0.25rem;
	--card-border-width: 1px;

	&.card {
		border: var(--card-border-width) solid var(--card-border-color);
		border-radius: var(--card-border-radius);
		box-sizing: border-box;
		overflow: hidden;
	}

	.card-body {
		padding: 1rem;
	}

	.wp-block-heading {
		margin-top: 0;
	}

	.card-image {
		height: auto;
		max-width: 100%;
	}
}
