/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.card {
	border: 1px solid #eee;
	box-sizing: border-box;

	&-body {
		padding: 1rem;
	}

	&-heading {
		margin-top: 0;
	}

	&-image {
		height: auto;
		max-width: 100%;
	}
}
